.node {
  cursor: pointer;
}

.node rect {
  stroke-width: 2px;
}

.node text {
  fill: black;
  text-anchor: middle;
  alignment-baseline: central;
  font-family: monospace;
  display: none;
}

.link path {
  stroke: black;
  stroke-width: 2px;
}

.link text {
  fill: black;
  text-anchor: start;
  alignment-baseline: central;
  font-family: monospace;
}

#d3graph {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}
